@font-face {
    font-family: 'retro_gamingregular';
    src: url('font/retro_gaming-webfont.woff2') format('woff2'),
        url('font/retro_gaming-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-family: 'retro_gamingregular';
}

#createur {
    font-size: 20px;
    color: azure;
    position: absolute;
    bottom: 0px;
    text-decoration: overline;
}

#titre {
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 65px;
    text-shadow: 1px 1px 0 black, 2px 2px 0 black, 3px 3px;
}

body {
    background-image: url('https://thumbs.gfycat.com/OilySillyFossa-size_restricted.gif');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.boutons_accueil {
    margin-top: 85px;
}

.boutons_accueil,a{
    text-decoration: none;
}

button {
    font-family: 'retro_gamingregular';
    color: black;
    background-color: white;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 0.7em 1.8em;
    display: inline-block;
    font-size: 2em;
    letter-spacing: 2px;
    cursor: pointer;
    display: flex;
    margin: 50px;
    box-shadow: 12px 12px 2px 1px rgb(137, 137, 137);
    margin-left: auto;
    margin-right: auto;
}

button:hover,
button:active {
    border: 3.5px solid black;
    border-radius: 10px;
}